<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="links">
        <a href="/boring" class="card-link">Boring</a>
        <a href="/test" class="card-link">Test</a>
        <a href="/exciting" class="card-link">Exciting</a>
        <a href="really_exciting" class="card-link">really_exciting</a>
        <a href="/pokemon" class="card-link">Pokemon</a>
      </div>
    The value of x is: <%= x %><br />
    My favourite fruit is: <%= favFruit %><br />
    My name is: <%= name %>
</body>
</html>