body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.pokemon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid ;
}
.card{
  max-width: 540px;
  margin: 5px;
  box-shadow: 2px 2px #6d5454;
}

.col-md-4{
  display: flex;
  justify-content: center;
  align-items: center;
}